/* Body */
body{
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
/* Topbar */
.topbar{
    height: fit-content;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.topbar a{
    font-size: 5rem;
    text-decoration: none;
    color: #fff;
} 
/* List */
.atvsList {
    margin-top: 20vh;
}
.atvsList .row {
    display: flex;
    margin-top: 5vh;
    height: 50%;
    width: 100%;
    text-align: center;
    justify-content: space-around;
}
.atvsList a {
    background-color: #444;
    padding: 20px;
    width: 25vw;
    color: #fff;
    font-size: 3rem;
    border: 5px solid #fff;
    border-radius: 0% 10%;
    border-style: outset;
    text-decoration: none;
} 
