:root {
    --linkBlue: rgb(6, 69, 173);
    --btnSize: 11ch;
    font-size: 16px;
}

/* Body */

body {
    background-color: #222;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
}

/* Topbar */

.topbar {
    height: fit-content;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.topbar h1 {
    font-size: 2rem;
}

.topbar h2 {
    font-size: 1.5rem;
}

/* List */

.atvsList {
    margin-top: 20%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: wrap-reverse;
    justify-content: space-evenly;
}

.atvsList a {
    background-color: #444;
    padding: 2rem;
    min-width: var(--btnSize);
    max-width: 90%;
    /* width: ; */
    color: #fff;
    margin-bottom: 3%;
    font-size: 2rem;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 5rem 5rem;
    border-style: double;
    text-decoration: none;
}

.atvsList a:hover {
    border-color: var(--linkBlue);
}

@media screen and (max-width: 425px) {
    :root {
        font-size: 10px;
    }
    body {
        /* background-color: fuchsia; */
    }
    .atvsList a {
        padding: 1rem;
        min-width: 90%;
    }
}

@media screen and (min-width: 425px) {
    .atvsList a {
        margin: 0 1rem 1rem 1rem;
        /* background-color: fuchsia; */
    }
}