:root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #000;
    --coolPurple: #AA00FF;
    --coolPurple2: rgb(90, 0, 130);
}

/* #################### Viewport  #################### */

@viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}