@import url("../css/globals.css");
:root {
    --form-width: min(90vw, 1000px);
    --btn-width: clamp(100px, 100%, 10vw);
    --btn-height: 35px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

html {
    color: #fff;
    scroll-behavior: smooth;
}

/* Topbar */

.topbar {
    scroll-snap-align: start;
    display: block;
    text-align: center;
    padding: 3em;
    width: 100%;
}

/* Body */

.main {
    margin: auto;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-block: 1em;
}

.row input, .row label {
    line-height: 2em;
    height: 2em;
    margin-inline: 0.25em;
}

form {
    outline: 1px solid var(--clr-blue1);
    max-width: var(--form-width);
    margin: auto;
    padding-block: 5vh;
    accent-color: var(--clr-blue1);
}

form>* {
    margin-bottom: 1em;
}

form button {
    width: var(--btn-width);
    height: var(--btn-height);
    /* background-color: var(--clr-blue1); */
    margin-inline: 20px;
    border: 1px solid var(--clr-blue1);
    outline: 1px solid var(--clr-blue1);
    outline-offset: -1px;
}

form button:hover, form button:focus {
    outline-offset: 4px;
    transition: outline-offset 100ms linear;
}

#answer {
    outline: 1px solid #fff;
    max-width: var(--form-width);
    margin-top: 2.5vh;
    margin-inline: auto;
    padding-block: 3vh;
}

/* Media Queries */

@media screen and (max-width: 700px) {}

@media screen and (min-width: 700px) {}