@import url("../css/globals.css");
html, body {
    margin: 0%;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 2rem;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

h1:hover {
    text-decoration: var(--coolPurple) wavy underline;
    cursor: pointer;
}

.inputform {
    /* width: 100%; */
    outline: 1px solid var(--coolPurple);
    min-width: 50%;
    margin: 1rem;
    padding: 5rem;
}

.row {
    text-align: center;
    width: 100%;
    outline: 1px solid var(--coolPurple);
    padding: 1rem;
    margin-top: 1rem;
}

.btnbar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.btnbar button {
    color: black;
    font-weight: 600;
    padding: 1rem;
    background-color: #fff;
    outline: 1px solid var(--coolPurple);
    outline-offset: -5px;
    border: 1px solid var(--coolPurple);
}

.btnbar button:hover {
    outline-color: white;
    outline-offset: 5px;
    border-color: white;
    color: white;
    background-color: var(--coolPurple);
}

#answers {
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    outline: 1px solid var(--coolPurple)
}

/* Media Queries */

@media screen and (max-width: 500px) {
    .inputform {
        text-align: center;
        outline: none;
        padding: 1%;
    }
    .row {
        text-align: left;
        max-width: max-content;
        outline-offset: -1%;
    }
    #answers {
        max-width: max-content;
    }
}