@import url("../css/globals.css");
* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 600;
    --btnWidth: calc(100% / 5);
}

body {
    margin: auto;
}

h1:first-child:hover {
    cursor: grab;
    text-decoration: wavy underline yellow;
}

/* Input Form */

.inputform {
    /* max-width: 1200px; */
    position: relative;
    min-width: 50%;
    margin: 1rem;
    padding: 5rem;
}

.inputform>.row {
    text-align: center;
    min-width: 100%;
    outline: 1px solid #000;
    padding: 1rem;
    margin-top: 1rem;
}

#idade {
    background-color: black;
    border: 1px solid #fff;
    width: 6ch;
}

/* Button Controls */

.btnbar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.btnbar button {
    color: black;
    font-weight: 600;
    height: 2rem;
    width: var(--btnWidth);
    /* padding: 1rem; */
    background-color: #fff;
    outline: 1px solid var(--coolPurple);
    outline-offset: -3px;
    border: 1px solid var(--coolPurple);
}

.btnbar button:hover {
    outline-color: white;
    outline-offset: 1px;
    border-color: white;
    color: white;
    background-color: var(--coolPurple);
    cursor: pointer;
}

/* Answers Panel */

#answers {
    position: relative;
    padding: 1em;
    margin-top: 3%;
    min-width: 100%;
    outline: 1px solid #000;
    text-align: center;
    line-height: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}

#answers>.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

#answers>.row>.reg {
    outline: 1px solid white;
    min-width: max-content;
    max-width: max-content;
    background-color: black;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-inline: 0.25em;
}

/* Background */

#bgwaves {
    position: fixed;
    top: 0;
    left: 0;
    aspect-ratio: 16/9;
    width: 100%;
    z-index: -1;
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: contain;
    background-image: url('../svg/layered-steps-haikei.svg');
}

/* Media Queries */

@media screen and (max-width: 700px) {
    .inputform {
        padding: 1%;
    }
    #bgwaves {
        width: unset;
        height: 100%;
    }
}

@media screen and (min-width: 700px) {
    #answers>.row>.reg {
        width: 20ch;
        padding: 1em;
        margin-top: 4em;
        margin-inline: 2em;
    }
}