@import url("../css/globals.css");
html, body {
    margin: 0%;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 2rem;
}

h1 {
    text-align: center;
}

h1:hover {
    text-decoration: var(--coolPurple) wavy underline;
    cursor: pointer;
}

.inputform {
    position: relative;
    outline: 1px solid var(--coolPurple);
    min-width: 50%;
    max-width: max-content;
    margin: 1rem;
    padding: 5rem;
}

.row {
    text-align: center;
    width: 100%;
    outline: 1px solid var(--coolPurple);
    padding: 2%;
    margin-top: 1rem;
}

label {
    margin: 1rem 0rem 0rem 0rem;
}

#answers {
    text-align: center;
    margin: 2rem 1rem 1rem 1rem;
    width: 100%;
    padding: 1rem;
    outline: 1px solid var(--coolPurple)
}

.btnbar {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    /* padding: 15% 5% 5% 5%; */
}

.btnbar button {
    color: black;
    font-weight: 600;
    padding: 10px;
    background-color: #fff;
    outline: 1px solid var(--coolPurple);
    outline-offset: -5px;
    border: 1px solid var(--coolPurple);
}

.btnbar button:hover {
    outline-color: white;
    outline-offset: 5px;
    border-color: white;
    color: white;
    background-color: var(--coolPurple);
}

#enunciado {
    position: fixed;
    top: 0;
    right: 0;
    background-image: url('../img/ativ8.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1.368 / 1;
    min-height: 30%;
    opacity: 60%;
    right: 0%;
}

#enunciado:hover {
    height: 100%;
    opacity: 100%;
    transition: ease 1s;
}