:root {
    --margin: 10px;
    --border: 5px;
    --color1: #3A4257;
    --color2: #F0DDBC;
    --color11: #f0e3ce;
    --colorLink: #2C88A7;
}

body{
    justify-content: center;
    font-family: Helvetica, Verdana, sans-serif;
    background-color: var(--color2);
}

.top {
    height: 70px;
    text-align: center;
    text-transform: uppercase;
    font-stretch: expanded;
    font-size: 55px;
    background-color: var(--color1);
    padding-top: 10px;
    color: white;
    word-wrap: break-word;
}

.banner_1{
    height: 150px;
    width: 150px;
    position: fixed;
    bottom: -20px;
    left: -15px;
}
.banner_2{
    height: 150px;
    width: 150px;
    position: fixed;
    bottom: -20px;
    right: -15px;
}
.container-box {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    border: var(--border) dotted var(--color11);
    justify-content: space-evenly;
}

.a {
    width: calc((100%/5) - ((var(--margin) * 2) + (var(--border) * 2)));
}


.box {
    border: var(--border) var(--color1) outset;
    background-color: var(--color1);
    color:white;
    margin: var(--margin);
    height: 50px;
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}


.content article {
    background-color: var(--color11);
    border: 1px solid var(--color1);
    margin-bottom: 30px;
    padding: 15px;
    width: calc(100%/3*2);
}
article h2 {
    margin: 1px;
}
article img {
    /* border: 1px solid navy; */
    float: left;
    margin: 10px 10px 0 0;
    padding: 5px;
    width: 160px;
    height: 160px;
}

a {
    color: var(--colorLink);
    font-weight: bold;
}

footer {
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--color1);
    color: white;
    text-decoration: white  underline 1px;
    border: var(--border) var(--color1) outset;
}

aside {
    background-color: var(--color11);
    border: 1px solid var(--color1);
    padding: 5px;
    float: right;
    width: calc(25%);
}
aside h3 {
    font-size: 14px;
    margin-top: 0;
}

.clear {
    clear: both;
}

h2 {
    color: var(--colorLink);
    text-decoration: var(--colorLink) underline;
    font-weight: bold;
}

ul li {
    color: var(--colorLink);
    text-decoration: var(--colorLink) underline;
    font-weight: bold;
}