:root {
    width: 100vw;
    min-width: 520px;
    overflow-x: hidden;
    overflow-y: auto;
    --btnPadding: 5rem;
    --coolPurple: #AA00FF;
}

body {
    background-color: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* #################### Topbar #################### */

.topbar {
    position: relative;
    margin: 7rem;
    top: 0;
    font-size: 3rem;
}

/* #################### Game #################### */

.game {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.move {
    font-size: 2rem;
}

/* #################### Row #################### */

.options {
    border: 1px solid #fff;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}

.btn {
    /*  ##### Appearance #####  */
    border: 4px #fff;
    border-style: outset;
    color: #f00;
    background-color: #fff;
    cursor: pointer;
    /* ##### Sizes ##### */
    padding: var(--btnPadding);
    margin-top: 5rem;
    margin-bottom: 5rem;
    /*  ##### Background #####  */
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center;
}

/* #################### Buttons #################### */

.rock {
    background-image: url("../img/rock.png");
}

.paper {
    background-image: url("../img/paper.png");
}

.scissors {
    background-image: url("../img/scissors.png");
}

#reload {
    margin-top: 4rem;
    height: 5rem;
    width: 5rem;
    border: none;
    background-image: url("../img/reload_icon.png");
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/* #################### Activity Log #################### */

#atvLog {
    /* border: 1px magenta solid; */
    margin-top: 2rem;
    font-size: 2.5rem;
}

/* #################### Scoreboard #################### */

.scoreboard {
    /* border: 1px solid #fff; */
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.scoreboard div {
    border: 1px solid #fff;
    min-width: calc(100%/3);
}

/* #################### Botbar #################### */

.botbar {
    position: fixed;
    bottom: -0.5rem;
    width: 100%;
    text-align: center;
    align-content: center;
    background-image: url("../svg/layered_waves1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.botbar a {
    color: #fff;
    text-decoration: none;
    border: 1px white solid;
    padding: 0.35rem;
    font-size: 1rem;
}

/* #################### shapedivider.app #################### */

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #AA00FF;
}

#visual {
    position: absolute;
    transform: scale(200%);
    z-index: -1;
    opacity: 50%;
}

/* #################### Media Queries #################### */

@media screen and (max-width: 600px) {
    :root {
        min-width: min-content;
    }
    .options {
        gap: 0.2em;
        justify-content: space-evenly;
    }
}