@import url("../css/globals.css");
html, body {
    margin: 0%;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.main {
    position: relative;
    width: 100%;
    display: grid;
    align-items: center;
    grid-auto-flow: row;
    justify-content: center;
}

.game {
    position: relative;
    width: 100%;
}

/* #################### Topbar #################### */

.topbar {
    position: static;
    top: 0;
}

.topbar h1 {
    text-align: center;
    margin: 5rem;
    font-size: 3rem;
}

/* #################### shapedivider.app #################### */

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    /* width: 100%; */
    height: 100px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #AA00FF;
}

#visual {
    position: fixed;
    width: 900px;
    height: 600px;
    transform: scale(150%) translateY(-10%);
    z-index: -1;
    opacity: 50%;
}

/* #################### Game #################### */

.game {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* #################### Row #################### */

.options {
    border: 1px solid #fff;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.btn {
    --btnPadding: 3rem;
    --verticalMargin: 3rem;
    /*  ##### Appearance #####  */
    border: 4px #fff;
    border-style: outset;
    color: #f00;
    background-color: #fff;
    cursor: pointer;
    /* ##### Sizes ##### */
    padding: var(--btnPadding);
    margin-top: var(--verticalMargin);
    margin-bottom: var(--verticalMargin);
    /*  ##### Background #####  */
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center;
}

/* #################### Buttons #################### */

.rock {
    background-image: url("../img/rock.png");
}

.paper {
    background-image: url("../img/paper.png");
}

.scissors {
    background-image: url("../img/scissors.png");
}

#reload {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 5rem;
    border: none;
    background: none;
    /* background-image: url("../img/reload_icon.png"); */
    /* background-color: #000; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    /*  */
    color: #fff;
}

#reload img {
    /* border: 1px solid lime; */
    position: relative;
    z-index: 1;
    max-width: 50px;
}

/* #################### Activity Log #################### */

#atvLog {
    /* border: 1px magenta solid; */
    background: none;
    margin-top: 2rem;
    font-size: 2rem;
}

/* #################### Scoreboard #################### */

.scoreboard {
    /* border: 1px solid #fff; */
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.scoreboard div {
    border: 1px solid #fff;
    min-width: calc(100%/3);
}

/* #################### Botbar #################### */

.botbar {
    /* border: 1px solid fuchsia; */
    position: relative;
    bottom: -1rem;
    width: 100%;
    text-align: center;
    background-image: url("../svg/layered_waves1.svg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100px;
}

.botbar a {
    position: relative;
    bottom: -3.5rem;
    color: #fff;
    text-decoration: none;
    border: 1px white solid;
    padding: 0.35rem;
    font-size: 1rem;
}